/* Set the background color to a dark gray */
body {
  background-color: #303030;
  color: #fff; /* Set the text color to white */
  font-family: Arial, sans-serif; /* Set a clean font */
  padding-top: 3%;
  padding-left: 30%;
  padding-right: 30%;
}

/* Style headings */

h1 {
  color: #ccc; /* Set heading color to a light gray */
  font-family: 'New Amsterdam', Arial, sans-serif; /* Set heading font to New Amsterdam */
  font-size: 280%;
}

h2 {
  color: #ccc; /* Set heading color to a light gray */
  font-family: 'New Amsterdam', Arial, sans-serif; /* Set heading font to New Amsterdam */
  font-size: 210%;
}

h3, h4, h5 {
  color: #ccc; /* Set heading color to a light gray */
  font-family: 'New Amsterdam', Arial, sans-serif; /* Set heading font to New Amsterdam */
  font-size: 170%;
}

/* Style normal text */
body {
  font-family: 'Inclusive Sans', Arial, sans-serif; /* Set normal text font to Open Sans Light */
  font-weight: 400;
  font-style: normal;
  font-size: 90%;
}


main {
  padding-bottom: 10%; /* adjust the value to your desired padding */
}

/* Style links */
a {
  color: #66d9ef; /* Set link color to a bright blue */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #fff; /* Set hover color to white */
}

/* Style buttons */
button {
  background-color: #444; /* Set button background to a dark gray */
  color: #fff; /* Set button text to white */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Change cursor to a pointer */
}

button:hover {
  background-color: #555; /* Set hover background to a slightly lighter gray */
}

.tri {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
}

.tri li {
  position: relative;
  padding-left: 20px;
}

.tri li:before {
  content: "►"; /* Use a custom character */
  position: absolute;
  left: 0;
}

nav ul {
  list-style: none; /* Remove default list styling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  text-align: left; /* Center the navigation links */
}


nav ul li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 10px; /* Add some space between list items */
}

nav ul li a {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove default link underline */
  transition: color 0.2s ease; /* Add a transition effect to the link color */
}

nav ul li a:hover {
  color: #bbb; /* Light gray text color on hover */
}


pre {
  line-height: 1;
}

.container {
  display: flex;
  align-items: end;
}

.container pre, .container p {
  display: inline-block;
}

p {
  text-align: justify;
  font-size: 115%;
}

/* Media query for small screens (phones) */
@media only screen and (max-width: 768px) {
  /* Make the body padding smaller for small screens */
  body {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Make the navigation menu vertical on small screens */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin-right: 0;
  }

  nav ul li a {
    display: block;
    padding: 10px;
  }


}

@media only screen and (max-width: 768px) {
  img[src="img/avatar.png"] {
    width: 80%; /* or any other percentage or pixel value you prefer */
    height: auto; /* to maintain the aspect ratio */
  }
}
